@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$Source-Sans-Pro: 'Source Sans Pro', sans-serif;

$black: #1a1c17;
$white-dark: #e9eaea;
$gray-dark: #424242;
$gray: #bbc8d0;
$brown: #987a5d;
$blue-dark: #2c63a5;
$blue-darker: #1976d2;
$blue: #2196f3;
$green: #23b167;

.btn-blue {
  height: 40px;
  color: white;
  font-weight: 700;
  background-color: $blue;
  border-radius: 3px;
  border: none;
  @include flex-center();
}

#root {
  position: relative;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: $Source-Sans-Pro;

  a {
    text-decoration: none;
    color: black;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
